* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #ffffffa4;
  --text-color: #ffffff;
}

h1,
h3 {
  text-align: center;
}
h3.capital {
  margin: 5px;
}
h4 {
  font-style: italic;
}

h4,
.navlist,
.navitem {
  display: inline-block;
}

button {
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.navitem {
  margin-left: 15px;
  height: 15px;
  width: 15px;
}

.navbar {
  padding: 15px 15px;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
}

.container {
  margin: 10px;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
}
.keyboard {
  width: 100%;
}

.keyboard li {
  display: inline-block;
  font-size: large;
}

.keyboard button {
  width: 1.6rem;
  padding: 2px;
  margin: 1px;
}

.start-game {
  width: 100px;
  margin-top: 2vh;
}

.hidden-word {
  display: inline-block;
  margin: 5px;
}

.disabled {
  background-color: grey;
  cursor: unset;
}

.menu-icon {
  height: 6vh;
  width: 6vh;
}
.svg-container {
  height: 100%;
  max-width: 600px;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.modal {
  position: fixed;
  left: 10%;
  width: 80%;
  height: 400px;
  top: 10%;
  margin: 0;
  padding: 2vh;
  box-sizing: border-box;
  border-radius: 3vh;
  background-color: var(--main-bg-color);
}
