* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #6e5434;
  --text-color: #ffffff;
}

h1,
h3 {
  text-align: center;
}
h3.capital {
  margin: 5px;
}
h4 {
  font-style: italic;
}

h4,
.navlist,
.navitem {
  display: inline-block;
}

.navitem {
  margin-left: 15px;
}

.navbar {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

.container {
  margin: 10px;
}

.flex {
  display: flex;
  justify-content: center;
}
.keyboard {
  width: 100%;
}

.keyboard li {
  display: inline-block;
  font-size: large;
}

.keyboard button {
  width: 1.6rem;
  padding: 2px;
  margin: 1px;
}
